<%= form_with(model:[@atividade,@atividade.historico_atividades.build], local: true) do |form| %>
  <% if @atividade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atividade.errors.count, "error") %> prohibited this historico_atividade from being saved:</h2>

      <ul>
      <% @atividade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.select("status",['Finalizada','Pendente','Trancada'])%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
