<div>
    <%= form_with(model: projeto, local: true) do |form| %>
      <div class="row">
        <div class="col-sm">
          <%= form.text_field :titulo, id: :projeto_titulo,:class => "form-control", placeholder: "Titulo" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm" >
          <%= form.text_field :area, id: :projeto_area,:class => "form-control", placeholder: "Ãrea"  %>
        </div>
      </div>
      <br/>
      <div class="row justify-content-center">
        <table>
          <tr>
            <td>
              <%= form.label :dataInicio, value='Data de inicio' %>
            </td>
            <td>
              <%= form.date_select :dataInicio, id: :projeto_dataInicio %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :dataFin, value='Data de termino' %>
            </td>
            <td>
              <%= form.date_select :dataFin, id: :projeto_dataFin %>
            </td>
          </tr>
        </table>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm">
          <%= form.text_field :tipoProjeto, id: :projeto_tipoProjeto ,:class => "form-control", placeholder: "Natureza" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm div-centro">
          <%= link_to 'Voltar', projetos_path, :class => "btn btn-primary "  %>
        </div>
        <div class="col-sm div-centro">
          <%= form.submit value='Salvar' , :class => "btn btn-primary" %>
        </div>

      </div>
    <% end %>
</div>

