<p id="notice"><%= notice %></p>

<h1>Projetos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Area</th>
      <th>Datafin</th>
      <th>Datainicio</th>
      <th>Tipoprojeto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <td><%= projeto.titulo %></td>
        <td><%= projeto.area %></td>
        <td><%= projeto.dataFin %></td>
        <td><%= projeto.dataInicio %></td>
        <td><%= projeto.tipoProjeto %></td>
        <td><%= link_to 'Show', projeto, id:"s-#{projeto.titulo}" %></td>
        <td><%= link_to 'Edit', edit_projeto_path(projeto)%></td>
        <td><%= link_to 'Destroy', projeto,id:"d-#{projeto.titulo}", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projeto', new_projeto_path %>
