<p id="notice"><%= notice %></p>

<h1><strong>Projetos</strong></h1>
<br>

<table>
  <thead>
    <tr>
      <th style="color:#800000;"><pre ><font size="5">Título:</font></pre></th>
      <th style="color:#800000;"><pre><font size="5">Área:</font></pre></th>
      <th style="color:#800000;"><pre><font size="5">Data de fim:</font></pre></th>
      <th style="color:#800000;"><pre><font size="5">Data de início</font> </pre></th>
      <th style="color:#800000;"><pre><font size="5">Tipo do projeto:</font></pre></th>
      <th style="color:#800000;" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <td><%= link_to projeto.titulo, projeto, id:"s-#{projeto.titulo}" %></td>
        <td><%= projeto.area %></td>
        <td><%= projeto.dataFin %></td>
        <td><%= projeto.dataInicio %></td>
        <td><%= projeto.tipoProjeto %></td>
        <td><strong></strong></td>
        <td><strong><%= link_to 'Editar', edit_projeto_path(projeto)%></strong></td>
        <td><strong><%= link_to 'Cancelar', projeto,id:"d-#{projeto.titulo}", method: :delete %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

