<div class="grid-container-projeto rotulo">

      <div class="integrantes-projeto div-centro">
        <h3>Integrantes</h3>
        <div class="container">
          <div class="row">
            <div class="col-sm">

              <table class="table table-hover table-dark">
                <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Função</th>
                  <th scope="col"></th>
                  <th scope="col"><span class="oi oi-plus"></span></th>
                </tr>
                </thead>
                <tbody>
                <% @projeto.trabalhos.each do |trabalho| %>
                  <tr>
                    <td><%= trabalho.usuario.nome %></td>
                    <td><%= trabalho.funcao %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="atividades-projeto div-centro">
        <h2><%= @projeto.titulo %></h2>

        <div class="container">
            <div class="row">
              <div class="col-sm">
                <table class="table table-hover table-dark">
                  <thead>
                  <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Fim</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"><%=link_to "", new_projeto_atividade_path(@projeto), :class => "oi oi-plus" %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @projeto.atividades.each do |atividade| %>
                    <tr>
                      <td><%= atividade.titulo %></td>
                      <td></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>

      <div class="bibliografia-projeto div-centro">
        <h3>Bibliográfias</h3>
        <div class="container">
          <div class="row">
            <div class="col-sm">

              <table class="table table-hover table-dark">
                <thead>
                <tr>
                  <th scope="col">Titulo</th>
                  <th scope="col"></th>
                  <th scope="col"><%= link_to "",new_projeto_bibliografium_path(@projeto), :class =>"oi oi-plus"%></th>
                </tr>
                </thead>
                <tbody>
                <% @projeto.bibliografia.each do |bibliografia| %>
                  <tr>
                    <td><%= bibliografia.titulo %></td>
                    <td></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
<% if notice %>
  <div id="notice" class="alert alert-success alert-dismissible fade show alertaFlutuante" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% end %>

<% if alert %>
  <div id="alert" class="alert alert-danger alert-dismissible fade show alertaFlutuante" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

