<p id="notice"><%= notice %></p>

<h2 id="alert" style="font-weight: bold; color: red"><%= alert %></h2>

<p>
<h1><strong>Projeto</strong></h1>
  <%= @projeto.titulo %><hr/>
</p>


<h2>Integrantes</h2>
<p>
  <%= link_to "Adicionar",new_projeto_trabalho_path(@projeto)%>
  <%= link_to "Vizualizar",projeto_trabalhos_path(@projeto)%>
</p>

<p>
<h2>Bibliografias:</h2>
<%= link_to "Adicionar",new_projeto_bibliografium_path(@projeto)%>
<%= link_to "Vizualizar",projeto_bibliografia_path(@projeto)%>
</p>

<p>
<h2>Atividades:</h2>
<%= link_to "Adicionar",new_projeto_atividade_path(@projeto)%>
<%= link_to "Vizualizar" ,projeto_atividades_path(@projeto)%>
</p>



<%= link_to 'Edit', edit_projeto_path(@projeto) %> |
<%= link_to 'Back', projetos_path %>


