<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @projeto.titulo %>
</p>

<p>
  <strong>Area:</strong>
  <%= @projeto.area %>
</p>

<p>
  <strong>Datafin:</strong>
  <%= @projeto.dataFin %>
</p>

<p>
  <strong>Datainicio:</strong>
  <%= @projeto.dataInicio %>
</p>

<p>
  <strong>Tipoprojeto:</strong>
  <%= @projeto.tipoProjeto %>
</p>
<h2>Integrantes</h2>
<%= render @projeto.trabalhos%>

<h2>Adicionando integrantes:</h2>
<%= render 'trabalhos/form' %>
<p>
<h2>Bibliográfias</h2>
<%=  render @projeto.bibliografia%>

  </p>

<h2>Adicionando bibliografias:</h2>
<%= render 'bibliografia/form' %>

<%= link_to 'Edit', edit_projeto_path(@projeto) %> |
<%= link_to 'Back', projetos_path %>
