<%= form_for([@projeto,atividade], local: true) do |form| %>
  <% if @projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projeto.errors.count, "error") %> prohibited this atividade from being saved:</h2>

      <ul>
      <% @projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :atividade_titulo %>
  </div>

  <div class="field">
    <%= form.label :dataInicio, value='Data de inicio'  %>
    <%= form.date_select :dataInicio, id: :atividade_dataInicio %>
  </div>

  <div class="field">
    <%= form.label :dataFim, value='Data de termino'  %>
    <%= form.date_select :dataFim, id: :atividade_dataFim %>
  </div>

  <div class="field">
    <%= form.label :cargaPrev, value= "Carga prevista" %>
    <%= form.number_field :cargaPrev, id: :atividade_cargaPrev %>
  </div>

  <div class="field">
    <%= form.label :cargaReal, value= "Carga realizada"%>
    <%= form.number_field :cargaReal, id: :atividade_cargaReal %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao, id: :atividade_descricao %>
  </div>

  <div class="actions">
    <%= form.submit value="Adicionar", id: :adcAtividade%>
  </div>
<% end %>
