<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @atividade.titulo %>
</p>

<p>
  <strong>Data de inicio:</strong>
  <%= @atividade.dataInicio %>
</p>

<p>
  <strong>Data de termino:</strong>
  <%= @atividade.dataFim %>
</p>

<p>
  <strong>Carga prevista:</strong>
  <%= @atividade.cargaPrev %>
</p>

<p>
  <strong>Carga realizada:</strong>
  <%= @atividade.cargaReal %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @atividade.descricao %>
</p>

<%= link_to 'Back',projeto_atividades_path(@atividade.projeto) %>





