<%= form_with(model: bibliografium, local: true) do |form| %>
  <% if bibliografium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bibliografium.errors.count, "error") %> prohibited this bibliografium from being saved:</h2>

      <ul>
      <% bibliografium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :bibliografium_titulo %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :bibliografium_descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
