<%= form_for([@projeto,bibliografium], local: true) do |form| %>
  <% if @projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projeto.errors.count, "error") %> prohibited this bibliografium from being saved:</h2>

      <ul>
      <% @projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :bibliografium_titulo %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :bibliografium_descricao %>
  </div>

  <div class="actions">
    <%= form.submit value='Criar bibliografia'%>
  </div>
<% end %>
