<%= form_for([@projeto,bibliografium], local: true) do |form| %>
  <div class="row justify-content-center">
    <div class="col-sm">
      <%= form.text_field :titulo, id: :bibliografium_titulo,:class => "form-control", placeholder: "Titulo" %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm" >
      <%= form.text_area :descricao, id: :bibliografium_descricao,:class => "form-control bibliografia-descricao", placeholder: "Descrição"  %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm div-centro" >
      <%= link_to 'Voltar', projeto_path(@projeto) , :class => "btn btn-primary" %>
    </div>
    <div class="col-sm div-centro">
      <%= form.submit value='Criar' , :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>


<% if @projeto.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@projeto.errors.count, "error") %> prohibited this bibliografium from being saved:</h2>

    <ul>
      <% @projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>