<p id="notice"><%= notice %></p>

<h1>Bibliografia</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bibliografia.each do |bibliografium| %>
      <tr>
        <td><%= bibliografium.titulo %></td>
        <td><%= bibliografium.descricao %></td>
        <td><strong></strong></td>
        <td><strong><%= link_to 'Destroy bibliografia', [bibliografium.projeto,bibliografium],id:"d-#{bibliografium.titulo}" ,method: :delete%></strong>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'voltar', projeto_path(@projeto) %>


