<%= form_with(model: usuario, local: true) do |form| %>



  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :usuario_nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :usuario_cpf, placeholder: "Ex: 000.000.000-00" %>
  </div>

  <div class="field">
    <%= form.label :curso %>
    <%= form.text_field :curso, id: :usuario_curso %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
